*{
    font-family: 'Lato', sans-serif;
}
#wrapper{
    width: 90%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 200px;
}
h1{
    text-align: center;
    font-weight: lighter;
    padding: 20px 0;
    background-color: #daecf0;
    position: fixed;
    width: 100%;
}
.WaterStat, .TempStat, .CO2Stat{
    width: 300px;
    height: 250px;
    padding: 20px;
    float: left;
    border-radius: 50px;
    border: 1px solid #00aeff;
    margin: 10px;
}
.WaterStat h5, .TempStat h5, .CO2Stat h5{
    text-align: center;
}
img.graph{
    width: 33%;
}
h3{
    clear: both;
}